.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

  margin-bottom: 100px;
}

.infoComps {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.infoBtnIntro {
  height: 38px;
  width: 171px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  font-family: 'brandon-grotesque';
  font-size: large;
  color: white;
  border: none;
  background-color: rgb(92, 93, 234);
  border-radius: 15px;
  outline: none;
  transition: all 0.5s ease;
}

.infoBtnIntro:hover {
  color: rgb(92, 93, 234);
  background-color: white;
  transition: all 0.5s ease;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .infoComps {
    display: flex;
    flex-direction: column;
  }
}
