
.left__section {
  float: left;
  max-width: 614px;
  width: 100%;
}


.right__section {
  max-width: 293px;
  width: 100%;
  top: 30px;
  position: absolute;
  right: 0;
  width: 100%;

}
:root{
  --content-width: 100%;
}

body{
  background:#E9EFF2;
}

.areaUntilCol3{
  overflow:hidden;
  padding:24px;
  margin-bottom:24px;
  text-align:center;
  border-radius:25px;
}
.areaUntilCol3 h2{
  text-transform:uppercase;
  font-size:50px;
  line-height:60px;
  letter-spacing:1px;
  margin-top:23px;
  margin-bottom:20px;
}

.flipText{
  transform: rotate(180deg);
}
.MuiCircularProgress-static{
  color:#1A2C70;

}
.ctProgressbar{
  width: 160px;
  height: 160px;
  margin-top: 0px;
  background: url("/images/fitness_couple.svg");
  background-size: 80%;
  background-position: top center;
  background-repeat:no-repeat;
  margin:0 auto;
}
.ctProgressbar p{
  font-size:24px;
  margin-top:20px;
  font-family: "brandon-grotesque";
  font-weight:400;
}
.textUntilCol3{
  overflow:hidden;
  margin-top:50px;
}
.textUntilCol3 h3{
  font-size:50px;
  font-weight:400;
  letter-spacing:0px;
  font-family: "brandon-grotesque";
}
.textUntilCol3 p{
  font-size:20px;
  font-weight:400;
  letter-spacing:0px;
  font-family: "brandon-grotesque";
}

@media (max-width: 767px) {
  .areaUntilCol3{
    border-radius:25px 25px 0px 0px;
    box-shadow: -1px -5px 15px 3px rgba(204,204,204,0.75);
    -webkit-box-shadow: -1px -5px 15px 3px rgba(204,204,204,0.75);
    -moz-box-shadow: -1px -5px 15px 3px rgba(204,204,204,0.75);
    padding:0px;
    padding-bottom:50px;
    margin:0px;
    margin-top:-5px;
  }
  .titleUntilCol3{
    overflow:hidden;
    padding-left:15px;
    padding-right:15px;
  }
  .textUntilCol3{
    padding-left:15px;
    padding-right:15px;
  }
  .textUntilCol3 p {
    font-size: 18px;
  }
}