.pointsComp {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
    height:100%;
  background-color: white;
  margin-right: 10px;
  border-radius: 15px;

}

.pointsTitle {
  color: rgb(30, 30, 30);
  font-size: 35px;
  font-weight: 500;
  padding: 40px 15px;
  padding-bottom: 30px;
  line-height: 35px;
  text-transform: uppercase;
}
.pointsSpan {
  color: rgb(92, 94, 234);
  font-weight: 500;

  font-size: 35px;
}

.pointsDescription {
  color: rgb(133, 134, 136);
  font-size: 18px;
  width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
