.magazinComp {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  color: white;
  max-width: 400px;
  max-height: 350px;
  margin: auto;
  margin-bottom: 20px;
}

.magImg2 {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

  opacity: 0.75;
  z-index: 1;
  width: 400px;
  height: 350px;
}

.magCompContent {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: max-content;
  text-align: left;
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.637);
  z-index: 2;
}

.magTop {
  position: relative;
  top: 0px;
  font-size: 10px;
  margin-bottom: 180px;
}

.magazinTitle {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
}

.solid {
  border-top: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  width: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 10px;
}

.bottomLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 80px;
}

.commentLink {
  text-decoration: none;
  color: white;
}

.bottomRight {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  padding-left: 20px;
}

.heartIcon {
  width: 20px;
  color: rgb(223, 80, 77);
  padding-left: 10px;
}

@media (max-width: 550px) {
  .magImg2 {
    width: 310px;
  }

  .magazinComp {
    width: 310px;
    height: 470px;
  }
}
