.btn {
  height: 38px;
  width: 171px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px 20px;
  font-family: 'brandon-grotesque';
  font-size: large;
  font-weight: bold;

  border: none;
  background-color: rgb(92, 93, 234);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;

  outline: none;
  transition: all 0.5s ease;
}

.btn:hover {
  color: rgb(92, 93, 234);
  background-color: white;
  border: 1px solid rgb(92, 93, 234);
  font-weight: bold;

  transition: all 0.5s ease;
  cursor: pointer;
}
