.pricingComp {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'brandon-grotesque';
  font-size: 20px;
  color: rgb(65, 64, 66);
  padding: 15px;
  margin: 15px;
  max-width: 400px;

  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.recommended {
  background: linear-gradient(rgb(233, 239, 242), white);
  box-shadow: 0px 10px 10px #00000011;
}

.mostPop {
  position: absolute;
  top: 0px;
  right: 5%;
  /* transform: translate(50%, 0%); */
  font-size: 20px;
  text-align: center;
  padding: 5px;
  background-color: rgb(92, 93, 234);
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pricingTop {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;

  font-size: 35px;
  margin-top: 20px;
}

.pricingCompTitle {
  color: rgb(65, 64, 66);
  font-size: 20px;
  padding: 10px;
}

.price {
  font-size: 60px;
  margin: 25px 0px;
}

.pricingTest {
  font-size: 20px;
  padding: 10px;
  color: rgba(65, 64, 66, 0.75);
}
.body {
  margin: 30px 0px;
  text-align: center;
}

.pricingHR {
  border-top: 1px solid rgb(233, 239, 242);
  border-radius: 0px;
  width: 100%;
}

.white {
  border-top: 1px solid rgb(255, 255, 255);
}

.pricingFeatures {
  list-style-type: none;
  padding: 0px 20px;
}

.btncontainer {
  margin: 0px auto;
}
