.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  background: rgb(233, 239, 242);
  margin-bottom: 30px;
  height: max-content;
}

.pricingCompContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.pricingTitle {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricingTitle {
    font-size: 30px;
  }
}
