.reviewComp {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin: 15px;
  width: fit-content;
  color: rgb(122, 122, 131);
  font-size: 16px;
}

.reviewCompImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  width: 100%;
  height: 300px;
}

.reviewCompBot {
  padding: 20px 50px;
}

.icon {
  height: 50px;
  width: 50px;
  color: rgb(148, 56, 245);
}

.customer {
  color: rgb(92, 93, 234);
}

.content {
  padding: 30px 0px;
}
