.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  padding: 5px 15px;
  align-items: center;
  justify-content: space-between;
  height: max-content;

  font-family: 'brandon-grotesque';
  color: rgb(107, 107, 117);
}

.footerLeft {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.footerLink {
  text-decoration: none;
  margin: 15px;
  color: rgb(107, 107, 117);
}
